cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }

//----> custom variables
div{
  --offset-top: 2em;
}

ion-fab{
  --offset-top-button: 1.6em;
}

.buttonTrasparent{
  --background: #2a88a554 !important;
}


//---> image lazy loading

.img-loaded{
 visibility: collapse;
 opacity: 0;
}

.img-fadeIn{
  opacity: 1;
  transition: opacity 1.0s;
}

.roundimg::part(image) {
  border-radius: 10px;
}

 //----> shimmer effect
 

 .profilePic {
  height: 75%;
  width: 25%;
  border-radius: 0.5em;
  margin-right: 1em;
}

.animate {
   animation : shimmer 2s infinite linear;
   background: linear-gradient(to right, #eff1f3 4%, #b3b0b0 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.img-gradient::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgb(0, 0, 0) 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}


.baseMovingTile{
	color: white !important;
  font-weight: bold !important;
}


.baseMovingTile::after {
	content: ".";
	width: 85%;
	height: 45%;
	color: green;
	position: absolute;
	background: green;
	z-index: -1;
	left: 0;
  border-radius: 0.6em;
  margin-left: 0.5em;
}


.transparentBadge{
  background: transparent;
    white-space: nowrap;
    font-size: 0.8em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    z-index: 100;
    color: green;
}

.swiperpad{
    padding-left: 0.3em;
    padding-right: 0.3em;
}