cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }

//----> custom variables
div{
  --offset-top: 2em;
}

ion-fab{
  --offset-top-button: 1.6em;
}

.buttonTrasparent{
  --background: #2a88a554 !important;
}


//---> image lazy loading

.img-loaded{
 visibility: collapse;
 opacity: 0;
}

.img-fadeIn{
  opacity: 1;
  transition: opacity 1.0s;
}

.roundimg::part(image) {
  border-radius: 10px;
}