ion-fab{
    --offset-top-button: 5.3em;
    --offset-top-button2: 1.3em;
  }
  
  ion-chip{
    --offset-top-button: 7.2em;
  }

  .iconText{
    margin-top:1.3em;
    font-size:1.2em
  }

  .buttonTrasparent{
    --background: #2a88a554 !important;
  }
  
  .roundTop{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }