
//----> custom variables
div{
    --offset-top: 2em;
  }
  
  ion-fab{
    --offset-top-button: 1.6em;
  }
  
  .buttonTrasparent{
    --background: #2a88a554 !important;
  }
  

  .buttonsLock {
    z-index: 20;
    right: 9em;
    top: 17em; 
    position: absolute;
  }

  .img-gradient {
    max-width: 100%; 
    width: 800px;
    margin: auto;
  }
  
  .img-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgb(0, 0, 0) 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  }

  
  .shimmer {
    color: grey;
    display:inline-block;
    -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1.5s infinite;
    font-size: 50px;
  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }

  /*
  .shine {
    z-index: 999;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px; 
    display: inline-block;
    position: relative; 
    
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    }*/