
//----> custom variables
div{
    --offset-top: 2em;
  }
  
  ion-fab{
    --offset-top-button: 1.6em;
  }
  
  .buttonTrasparent{
    --background: #2a88a554 !important;
  }
  

  .buttonsLock {
    z-index: 20;
    right: 9em;
    top: 17em; 
    position: absolute;
  }

  .img-gradient {
    max-width: 100%; 
    width: 800px;
    margin: auto;
  }
  
  .img-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgb(0, 0, 0) 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
  }


 