<ion-content [scrollY]="true" appAnimationPage3 [scrollEvents]="true" [headerRef]="masterHeaderRef"
  [headerTextRef]="masterHeaderText" [swiperRef]="swiperRef" [spacer]="SPACER" [content]="cnt" [fabLeft1]="fableft1"
  [fabRight1]="fabright1" [fabRight2]="fabright2" [fabRight3]="fabright3" [bottomFab]="bottomfab"
  [style.background]="'black'" #cnt>

  <!-- master header  -->
  <ion-row [style.z-index]="'10'" [style.position]="'fixed'" [style.width]="'100%'"
    [style.background]="'rgba(94, 164, 253, 0.90)'" [style.opacity]="'0%'" [style.height]="'5.1em'"
    [style.justify-content]="'center'" [style.align-items]="'center'" #masterHeaderRef>
    <ion-col size="2">

    </ion-col>
    <ion-col size="8">
      <h5 [style.margin]="'0'" [style.padding-top]="'1.5em'" [style.padding-left]="'1.5em'" #masterHeaderText>sushi
        pasticceria!</h5>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>

  <!-- fabs header https://ionic.io/ionicons -->
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge [style.position]="'fixed'" [style.z-index]="'20'"
    [style.left]="'-1em'" [style.top]="'var(--offset-top-button)'" [style.transform]="'scale(0.90,0.90)'">
    <ion-fab-button size="small" #fableft1 style="--box-shadow:0">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- fabs locked -->
  <ion-fab horizontal="end" vertical="top" edge [style.z-index]="'20'" [style.right]="'9em'" [style.top]="'17em'"
    style="position: absolute;" #fabright3>
    <ion-fab-button size="small" style="--box-shadow:0" color="secondary" >
      <ion-icon name="information"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="top" edge [style.position]="'fixed'" [style.z-index]="'20'" [style.right]="'1em'"
    [style.top]="'17em'" style="position: absolute;" #fabright1>
    <ion-fab-button size="small" style="--box-shadow:0">
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="top" edge [style.position]="'fixed'" [style.z-index]="'20'"
    [style.right]="'4.5em'" [style.top]="'17em'" style="position: absolute;" #fabright2>
    <ion-fab-button size="small" style="--box-shadow:0">
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <!-- header image-->
  <div [style.z-index]="'0'" [style.position]="'fixed'" [style.width]="'100%'" [style.height]="'22em'" #swiperRef>
    <swiper [pagination]="pagination" [spaceBetween]="30" [creativeEffect]="effectSlider" [effect]="'creative'"
      [grabCursor]="true">
      <ng-template swiperSlide>
        <div class="img-gradient">
          <ion-img src="../../assets/category_hdr_sushi.JPG"></ion-img>
        </div>
        <h1 style="position: absolute;bottom:16%;left:5%" #imageText>sushi pasticceria!</h1>
        <div style="position: absolute;bottom:12%;left:5%;color:#c6c6c6">
          and friends smart sushi
        </div>
        <ion-badge color="dark" style="position: absolute;right:5%;bottom:13%">99 €</ion-badge>
      </ng-template>
      <ng-template swiperSlide>
        <div class="img-gradient">
          <ion-img src="../../assets/sushi__34_.jpeg"></ion-img>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="img-gradient">
          <ion-img src="../../assets/sushi__1_.jpeg"></ion-img>
        </div>
      </ng-template>
    </swiper>
  </div>



  <div class="spacer" [style.height]="'18em'" #SPACER [style.margin-bottom]="'0em'"></div>

  <div>
    <ion-card>      
      <img src="../../assets/madison.jpg" (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded" />
      <ion-spinner *ngIf="!loaded"></ion-spinner>
      
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>

    <ion-list inset="true">
      <ion-list-header>Info & Nutrition</ion-list-header>
      <ion-accordion-group>
        <ion-accordion value="colors" toggle-icon="fish-outline" class="accordionIcon"> <!-- class MUST be global.sccc for view encapsulation -->
          <ion-item slot="header">
            <ion-label>descrizione</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <ion-text class="accordionText">
                qui tutte le info sul mio prodotto
                anche multi linea
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="shapes" toggle-icon="receipt-outline" class="accordionIcon">
          <ion-item slot="header">
            <ion-label>ingredienti</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <ion-label class="accordionIngredients">riso basmati</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="accordionIngredients">salsa soia</ion-label>
              <ion-icon name="leaf-outline" style="font-size: 1em;color:white"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label class="accordionIngredients">alga</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="numbers" toggle-icon="nutrition-outline" class="accordionIcon">
          <ion-item slot="header">
            <ion-label>nutrizione</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item>
              <ion-label>1</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>3</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>

    <ion-card>
      <img src="../../assets/madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="spacer" [style.height]="'5em'" #SPACER [style.margin-bottom]="'0em'"></div>


  <!-- bottom fab -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="transform:translate3d(100px,0,0);padding-bottom:4em" #bottomfab>
    <ion-fab-button class="buttonTrasparent">
      <ion-icon md="caret-up" ios="fish-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
