<ion-content>

  <div class="flexContainerPopover" style="transform:translate3d(0,+100vh,0)">

      <ion-img src="../../assets/logo-sito-big-2.png" class="logo"></ion-img>

      <div class="showDiv">
        <div class="upperText"> hot new for yoy boy </div>
        <img class="centralImage" src="../../assets/sushi__34_.jpeg" />
        <div class="lowerText"> sushi mania fresh </div>
        <div class="lowerText2"> the new sushi explosive sensation </div>

        <ion-button class="gotoButton">go and explore!</ion-button>
      </div>

      <ion-button class="closeButton" (click)="closeDialog($event)" #CLOSEBUTTON>close</ion-button>

  </div>
  

</ion-content>
